*{
    border: 0;
    margin: 0;
}
.container{
    color: antiquewhite;
    background: black;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    width: 45%;
    height: 500px;
    background: rgba(54, 54, 124, 0.734);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.right{
    color: antiquewhite;
    width: 45%;
    height: 500px;
    background: rebeccapurple;
    text-align: center;
}